node_modules 
.env

.vscode 
/.vscode 
**.vscode 
.devcontainer
/node_modules
/.devcontainer
**.devcontainer
**node_modules
yelp.md
/yelp.md

.DS_Store
**/.DS_Store
# dependencies
/node_modules
*/node_modules/*
/.pnp
.pnp.js
/.env
.env
*/.env
.env/*
**/.env
